.numericInput{
    position: relative;
    display: block;
    max-width: 400px;
}

.numericInput > b:nth-child(2) {
    position: absolute;
    right: 2px;
    width: 2.26ex;
    border-color: rgba(0, 0, 0, 0.0980392);
    border-style: solid;
    text-align: center;
    cursor: default;
    transition: all 0.1s;
    background: rgba(0, 0, 0, 0.0980392);
    box-shadow: rgba(0, 0, 0, 0.0980392) -1px -1px 3px inset, rgba(255, 255, 255, 0.701961) 1px 1px 3px inset;
    top: 2px; bottom: 50%;
    border-radius: 2px 2px 0px 0px;
    border-width: 1px 1px 0px;
}

.numericInput > b:nth-child(2) > i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-width: 0px 0.6ex 0.6ex;
    border-color: transparent transparent rgba(0, 0, 0, 0.701961);
    border-style: solid;
    margin: -0.3ex 0px 0px -0.56ex;
}

.numericInput > b:nth-child(3) {
    position: absolute;
    right: 2px;
    width: 2.26ex;
    border-color: rgba(0, 0, 0, 0.0980392);
    border-style: solid;
    text-align: center;
    cursor: default;
    transition: all 0.1s;
    background: rgba(0, 0, 0, 0.0980392);
    box-shadow: rgba(0, 0, 0, 0.0980392) -1px -1px 3px inset, rgba(255, 255, 255, 0.701961) 1px 1px 3px inset;
    top: 50%;
    bottom: 2px;
    border-radius: 0px 0px 2px 2px;
    border-width: 0px 1px 1px;
}

.numericInput > b:nth-child(3) > i {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 0px;
    border-width: 0.6ex 0.6ex 0px;
    border-color: rgba(0, 0, 0, 0.701961) transparent transparent;
    border-style: solid;
    margin: -0.3ex 0px 0px -0.56ex;
}